.App {
  height: 180vh;
  width: 100vw;
  text-align: center;
  background: linear-gradient(110deg, white 60%, orangered 60%);
}

.navbar-nav.mr-auto a {
  text-align: left;
}

.container {
  padding: 5px;
  margin-left: 0;
  /* padding: 10px; */
}

@media screen and (max-width: 500px){
  
  .App {
    height: 120vh;
  }
  
  
  


}